////
/// @group settings/colours
////

@import "../helpers/colour";

// =========================================================
// Generic
// =========================================================

/// Brand colour
///
/// @type Colour
/// @access public

$ccs-brand-colour: ccs-colour("light-blue") !default;

/// Text colour
///
/// @type Colour
/// @access public


/// Button colour
///
/// Override the GOV.UK Button colour
///
/// @type Colour
/// @access public

$govuk-button-background-colour: ccs-colour("light-green") !default;

/// Button component text colour
///
/// Override the GOV.UK Button text colour
/// 
/// @type Colour
/// @access public

$govuk-button-text-colour: ccs-colour("black") !default;
